<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.smooth.zhenxiactivity.mapper.UserJournalMapper">
    <insert id="insert" parameterType="UserJournal">
        INSERT INTO user_journals (user_id, nick_name, content, path, type, published_date)
        VALUES (#{userId}, #{nickName}, #{content}, #{path}, #{type}, #{publishedDate})
    </insert>

    <update id="update" parameterType="UserJournal">
        UPDATE user_journals
        SET user_id = #{userId}, nick_name = #{nickName}, content = #{content}, path = #{path}, type = #{type}, published_date = #{publishedDate}
        WHERE journal_id = #{journalId}
    </update>

    <select id="selectById" resultType="UserJournal" parameterType="int">
        SELECT * FROM user_journals WHERE journal_id = #{journalId}
    </select>

    <select id="selectAll" resultType="UserJournal">
        SELECT * FROM user_journals
    </select>

    <select id="selectByUserId" resultType="UserJournal" parameterType="String">
        SELECT * FROM user_journals WHERE user_id = #{userId}
    </select>

    <delete id="delete" parameterType="int">
        DELETE FROM user_journals WHERE journal_id = #{journalId}
    </delete>
</mapper>